@import "./css/toggle-switch";
@import "./css/weather-icons-wind.css";
@import "./css/weather-icons.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard {
  display: flex;

  .subwayDashboard {
    flex: 3;

    @media (min-width: 768px) {
      flex: 1;
    }
  }

  .weatherDashboard {
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 250px;
    }

    @media (min-width: 992px) {
      width: 300px;
    }
  }
}

.stationRoutes {
  margin-left: 1em;

  :not(:first-child) {
    margin-left: 0.25em;
  }
}

.train {
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 1em;
  }

  .trainStatus {
    display: inline-block;
    vertical-align: text-top;
    width: 50px;
    margin-left: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: visible;
    font-size: 1.25em;
    font-weight: 600;
  }
}

.mta-bullet {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.25;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding-top: 1px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  text-decoration: none;
  border: none;
}
.mta-bullet.line-4,
.mta-bullet.line-5,
.mta-bullet.line-5X,
.mta-bullet.line-6,
.mta-bullet.line-6X {
  background-color: #00933c;
}

.mta-bullet.line-5X,
.mta-bullet.line-6X {
  text-transform: lowercase;
}

.mta-bullet.line-L {
  background-color: #a7a9ac;
}

.mta-bullet.line-1,
.mta-bullet.line-2,
.mta-bullet.line-3 {
  background-color: #ee352e;
}

.mta-bullet.line-N,
.mta-bullet.line-Q,
.mta-bullet.line-R,
.mta-bullet.line-W {
  background-color: #fccc0a;
  color: #181818;
}

.mta-bullet.line-B,
.mta-bullet.line-D,
.mta-bullet.line-F,
.mta-bullet.line-M {
  background-color: #ff6319;
}

.mta-bullet.line-A,
.mta-bullet.line-C,
.mta-bullet.line-E {
  background-color: #0039a6;
}

.mta-bullet.line-S {
  background-color: #808183;
}

.subwayDashboard {
  .station {
    border-radius: 0;

    > .card-header {
      box-shadow: 0 5px 6px -3px #333;
      border-radius: 0;
    }

    > .card-body {
      @media (max-width: 768px) {
        padding: 0.75rem 0.5rem 0.5rem;
      }
    }
  }

  .routeList {
    > .card-header {
      font-weight: bold;
      display: inline-flex;
      align-items: center;
    }
  }

  .train {
    .mta-bullet {
      font-size: 1.3em;
    }
  }

  &.subwayDashboard--light {
    .station {
      > .card-header {
        background: #ddd;
      }
    }
    .routeList {
      .card-body {
        padding: 0;
      }

      .card-header {
        color: white;
        background: #666;
        border-radius: 0;
      }
    }

    .train {
      padding: 0.75rem 1.25rem;
      border-bottom: 1px solid #ccc;

      &:nth-child(odd) {
        background-color: #efefef;
      }
    }
  }
  &.subwayDashboard--dark {
    .station {
      > .card-header {
        background: #666;
        color: white;
      }
    }

    .routeList {
      .card-header {
        background: #ddd;
        border-radius: 0;
      }
      .card-body {
        background-color: #222;
        color: #ccc;
      }

      .playArrowIcon {
        fill: #aaa;
      }

      &:first-child {
        .card-header {
          border-right: 1px solid #666;
        }
      }
    }
    .train {
      padding: 0.1em 0;
    }
    .trainStatus-time {
      color: #ffec00;
      text-shadow: 0 0 2px #ffec00;
    }

    .trainStatus-text {
      color: #c0ff00;
      text-shadow: 0 0 2px #c0ff00;
    }
  }
}

.locationDisplay {
  display: flex;
  align-items: center;

  &.locationDisplay--enabled {
    .locationDisplay-text {
      color: #2b80ff;
    }
  }

  .locationDisplay-text {
    margin: 0;
    margin-left: 0.5em;
  }
}

.icon {
  display: flex;
}

/* Toggle Switch Styling */
.toggleSwitchWithLabel {
  .toggleSwitchWithLabel-prelabel {
    margin-right: 0.5em;
  }
}

/* Navbar Styling */
.navbar {
  .navbar-collapse {
    > :nth-child(n) {
      margin-right: 2em;
    }
  }
}

/* Icons */
.hasLocationArrow {
  fill: #2b80ff;
}

.playArrowIcon {
  &.north {
    transform: rotate(-90deg);
  }

  &.south {
    transform: rotate(90deg);
  }
}

.weatherIcon {
  font-size: 6em;
  text-align: center;
  padding: 0.1em;

  .weatherInfo {
    display: flex;
    justify-content: space-around;
  }

  &.weatherIcon-day {
    background: lightblue;
    color: yellow;

    .weatherInfo {
      color: #044398;
    }
  }

  &.weatherIcon-night {
    background: #13045a;
    color: white;

    .weatherInfo {
      color: lightblue;
    }
  }
}

.temperaturesDisplay {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .wi {
    font-size: 3em;
  }

  .temperatureDisplay {
    .wi {
    }
  }
}

.temperatureDisplay {
  display: flex;

  .wi {
    font-size: 29px;
  }
}

.precipitationDisplay {
  padding: 0;
}

.precipitationDisplay-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #d8363d;
  color: white;
  animation: breathing 5s ease-out infinite normal;

  .wi {
    font-size: 5em;
    margin-bottom: 0.2em;
  }
}

.windDisplay {
  background-color: #eee;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wi {
    font-size: 5em;
  }

  .windDisplay-indicators {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .windIndicator {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wi-strong-wind {
      animation: windStretch 4s ease-out infinite normal;
    }
  }

  .windIndicator-direction {
    margin-left: 1em;

    .windIndicator-spinner {
      animation: windy 4s ease-out infinite normal;
    }
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes windStretch {
  0% {
    transform: scaleX(0.9);
  }

  25% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.1);
  }

  100% {
    transform: scaleX(0.9);
  }
}

@keyframes windy {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(1deg);
  }
}
